<form [formGroup]="convertNumber" class="container" (ngSubmit)="convertAction()">
    <h3>Convert Decemal To Binary</h3>
    <div>
        <label for="">Decimal Number</label>
        <br />
        <input formControlName="decemal" type="number" class="decimal-input" placeholder="decimal number" />
    </div>
    <div>
        <button type="submit">Convert</button>
    </div>
    <div>
        <label for="">Binary Number</label>
        <br />
        <input formControlName="binary" type="number" readonly class="binary-output" placeholder="binary number" />
    </div>
</form>